<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" 
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Edit</title>
  </head>
  <body>
    <div class="container">
      <!-- error messages -->
      {% if messages %}
      <ul class = "messages">
        {% for message in messages %}
        <li {% if message.tags %} class ="{{ message.tags }}" {% endif %}> {{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="right">
        <a href="/dashboard">Back</a> | <a href="/logout">Logout</a>
      </div>
      <p>Edit Your Job Posting</p>
      <form action="/editjob/{{ job.id }}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" value="{{ job.title }}">
        <label for="description">Description:</label>
        <textarea name="description" id="" cols="30" rows="10">{{ job.description }}</textarea>
        <label for="location">Location:</label>
        <input type="text" name="location" value="{{ job.location }}">
        <br>
        <input type="submit">
      </form>
    </div>
  </body>
</html>